.nav {
    padding: 10px 0;
    border-bottom: 1px solid hsl(0, 0%, 20%);
    &__ul {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    &__li {
        flex-shrink: 0;
        margin-right: 10px;
        a {
            font-size: 1.6rem;
            display: block;
            color: white;
            text-decoration: none;
            padding: 10px;
            background-color: $gray-background;
            border-radius: 20px;
        }
    }
}

@media screen and (min-width:600px) {
    .nav__ul {
        justify-content: center;
    }
}